<footer class="footer">
	<div class="containerFooter">
		 <div class="footerIzq">
			  <div class="listaFooter"><a href="#">Reserva cita</a></div>
			  <div class="listaFooter"><a href="#">Contáctanos</a></div>
			  <div class="listaFooter">
					<a href="#">Sobre Nosotros</a>
			  </div>
		 </div>
		 <div class="footerDrch">
			  <div class="listaFooter"><a href="#">Servicios</a></div>
			  <div class="listaFooter"><a href="#">Aviso Legal</a></div>
			  <div class="listaFooter">
					<a href="#">Política de privacidad</a>
			  </div>
		 </div>
	</div>
	<img
		 class="logoFooter"
		 onclick="window.location.href='index.html'"
		 src="logo"
		 alt=""
	/>
	<p class="copy">
		 &copy; Proyecto Grupal DAM. Todos los derechos reservados.
	</p>
</footer>