<h4 class="title-services">Nuestros Servicios</h4>
<div class="container-cards">
	<div class="card">
		 <div class="container-img-card">
			  <img
					class="img-card"
					src="../presentation-21.png"
					alt=""
			  />
		 </div>
		 <div class="container-text-card">
			  <h2>Asesoría</h2>
			  <p>
					Te ayudamos a encontrar la mejor solución para tu
					negocio e idea.
			  </p>
		 </div>
		 <div class="container-buttons-card">
			  <button class="boton1Card">Contáctanos</button>
		 </div>
	</div>
	<div class="card">
		 <div class="container-img-card">
			  <img
					class="img-card"
					src="../data-settings-58.svg"
					alt=""
			  />
		 </div>
		 <div class="container-text-card">
			  <h2>Reparación</h2>
			  <p>¿Necesitas reparar tu ordenador, consola o móvil?</p>
		 </div>
		 <div class="container-buttons-card">
			  <button class="boton1Card">Pide tu presupuesto</button>
		 </div>
	</div>
	<div class="card">
		 <div class="container-img-card">
			  <img
					class="img-card"
					src="../marketing-campaign-78.svg"
					alt=""
			  />
		 </div>
		 <div class="container-text-card">
			  <h2>Creamos tu Web</h2>
			  <p>Hacemos tu web a medida y acorde a tus necesidades.</p>
		 </div>
		 <div class="container-buttons-card">
			  <button class="boton1Card">Ver Más</button>
		 </div>
	</div>
</div>
<div class="container-cards container-cards2">
	<div class="card">
		 <div class="container-img-card">
			  <img class="img-card" src="../seo.svg" alt="" />
		 </div>
		 <div class="container-text-card">
			  <h2>Marketing y SEO</h2>
			  <p>
					¿Quieres que tu web sea visible? Te ayudamos a
					posicionarla.
			  </p>
		 </div>
		 <div class="container-buttons-card">
			  <button class="boton1Card">Más información</button>
		 </div>
	</div>
	<div class="card">
		 <div class="container-img-card">
			  <img
					class="img-card"
					src="../facebook-70.svg"
					alt=""
			  />
		 </div>
		 <div class="container-text-card">
			  <h2>Redes Sociales</h2>
			  <p>
					Te ayudamos a gestionar tus redes sociales y a crecer.
			  </p>
		 </div>
		 <div class="container-buttons-card">
			  <button class="boton1Card">¿Cómo lo Hacemos?</button>
		 </div>
	</div>
	<div class="card">
		 <div class="container-img-card">
			  <img
					class="img-card"
					src="../coding-5-33.svg"
					alt=""
			  />
		 </div>
		 <div class="container-text-card">
			  <h2>SaaS</h2>
			  <p>
					Creamos tu software a medida y acorde a tus necesidades.
			  </p>
		 </div>
		 <div class="container-buttons-card">
			  <button class="boton1Card">Cuentanos tu Idea</button>
		 </div>
	</div>
</div>