<header id="main-header">
	<div
		 class="containerLogo"
		 onclick="window.location.href='index.html'"
	>
		 <h2>LOGO</h2>
	</div>
	<i class="fa-solid fa-bars menuBtn" style="color: #99ff84"></i>
	<div id="menu" class="menu">
		 <div class="headerMenu">
			  <div
					class="containerLogo"
					onclick="window.location.href='index.html'"
			  >
					<img src="logo" alt="" />
					<h2>LOGO</h2>
			  </div>
			  <i
					class="fa-solid fa-bars menuBtn2"
					style="color: #99ff84"
			  ></i>
		 </div>

		 <div class="footer">
			  <div class="containerFooter">
					<div class="footerIzq">
						 <div class="listaFooter-menu">
							  <a href="#">Reserva cita</a>
						 </div>
						 <div class="listaFooter-menu">
							  <a href="#">Contáctanos</a>
						 </div>
						 <div class="listaFooter-menu">
							  <a href="#">Sobre Nosotros</a>
						 </div>
					</div>
					<div class="footerDrch">
						 <div class="listaFooter-menu">
							  <a href="#">Servicios</a>
						 </div>
						 <div class="listaFooter-menu">
							  <a href="#">Aviso Legal</a>
						 </div>
						 <div class="listaFooter-menu">
							  <a href="#">Política de privacidad</a>
						 </div>
					</div>
			  </div>
			  <img
					class="logoFooter"
					onclick="window.location.href='index.html'"
					src="logo"
					alt=""
			  />
			  <p class="copy">
					&copy; 2025 Proyecto Grupal DAM. Todos los derechos
					reservados.
			  </p>
		 </div>
	</div>
</header>
<script src="../scripts/header.js"></script>
<script src="../scripts/menu.js"></script>