<div class="portada-container">
	<div class="palabrasPortadas">
		 <h2>Te ayudamos con</h2>
		 <h2 id="typing"></h2>
		 <h2>Te animas?</h2>
		 <div class="botonesPortada">
			  <button class="boton1Portada">Nuestros Servicios</button>
			  <button class="boton2Portada">Contáctanos</button>
		 </div>
	</div>
	<div class="imgPortada">
		 <img src="../consulting-86.png"  alt="" />
	</div>
</div>